/* Keyframes.
-------------------------------------------------------------- */

@keyframes psupsellmaster-rotate {
	from {
		transform: rotate( 0deg );
	}

	to {
		transform: rotate( 360deg );
	}
}


/* General.
-------------------------------------------------------------- */

.psupsellmaster-wrap .page-title-action {
	display: inline-block;
}

.psupsellmaster-rotate {
	animation: psupsellmaster-rotate 2s linear infinite;
}

.psupsellmaster-text-green {
	color: green;
}


/* Sections.
-------------------------------------------------------------- */

.psupsellmaster-sections {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin-top: 15px;
}

.psupsellmaster-section {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
	flex-grow: 1;
	padding: 15px;
	width: 100%;
}

.psupsellmaster-section .psupsellmaster-section-title {
	margin: 0;
	margin-bottom: 5px;
}

.psupsellmaster-section .psupsellmaster-section-subtitle {
	margin: 0;
	margin-bottom: 15px;
}

.psupsellmaster-section .psupsellmaster-separator {
	margin: 15px 0;
}

.psupsellmaster-section .psupsellmaster-section-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.psupsellmaster-section .psupsellmaster-section-header .psupsellmaster-section-title {
	margin: 0;
}

.psupsellmaster-section .psupsellmaster-section-header .psupsellmaster-paragraph {
	margin: 0;
	margin-left: 15px;
	margin-right: auto;
}

.psupsellmaster-section .psupsellmaster-section-header .psupsellmaster-btn-new-campaign {
	margin-left: auto;
}


/* Sections - Notices.
-------------------------------------------------------------- */

.psupsellmaster-notices {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	width: 100%;
}

.psupsellmaster-notice {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0;
	padding: 15px;
	width: 100%;
}

.psupsellmaster-form-edit-campaign > .psupsellmaster-notices {
	margin-top: 15px;
}

.psupsellmaster-tab-section .psupsellmaster-notices:first-child {
	margin-bottom: 15px;
}


/* Charts.
-------------------------------------------------------------- */

.psupsellmaster-chart {
	height: 300px;
}


/* KPIs.
-------------------------------------------------------------- */

.psupsellmaster-kpis {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.5%;
	margin-right: -0.5%;
}

.psupsellmaster-kpi {
	background: #f6f6f6;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin: 0 0.5% 16px;
	min-width: 100px;
	padding: 24px 12px;
	text-align: center;
	width: 100%;
}

.psupsellmaster-kpi-value {
	display: block;
	font-size: 34px;
	font-weight: 600;
	line-height: 1.2;
}


/* Filters.
-------------------------------------------------------------- */

#psupsellmaster-btn-toggle-filters {
	background: transparent;
	border: 1px solid #333;
	border-radius: 4px;
	cursor: pointer;
	height: 30px;
	margin-left: 5px;
	width: 30px;
}

.psupsellmaster-filters .psupsellmaster-fields-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0 -0.5em;
	width: calc( 100% + 1em );
}

.psupsellmaster-filters .psupsellmaster-field-container {
	padding: 0.25em 0.5em;
	width: calc( 100% - 1em );
}

.psupsellmaster-filters .psupsellmaster-field-container .psupsellmaster-field {
	margin: 0;
	max-width: 100%;
	width: 100%;
}

.psupsellmaster-filters-actions {
	align-self: flex-end;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	justify-content: space-between;
	padding: 0.5em;
	width: 50%;
}

.psupsellmaster-filters #psupsellmaster-btn-apply-filters,
.psupsellmaster-filters #psupsellmaster-btn-reset-filters {
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	min-height: 40px;
	width: 100%;
}

.psupsellmaster-filters #psupsellmaster-btn-apply-filters {
	background-color: #2271b1;
}

.psupsellmaster-filters #psupsellmaster-btn-reset-filters {
	background-color: #ff0000;
}


/* DataTables.
-------------------------------------------------------------- */

.psupsellmaster-datatable-wrapper .psupsellmaster-row-actions {
	flex-direction: column;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-row-actions-section {
	display: flex;
	gap: 5px;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-row-action.psupsellmaster-deactivate {
	color: #e08012;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-row-action.psupsellmaster-activate {
	color: #0e8c0e;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-status {
	border-radius: 5px;
	color: #fff;
	padding: 2px 4px;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-status-active {
	background-color: #0e8c0e;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-status-inactive {
	background-color: #b32d2e;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-status-expired {
	background-color: #ff6d14;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-status-scheduled {
	background-color: #4e4e4e;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-btn-refresh-datetime-left {
	cursor: pointer;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-list .psupsellmaster-item-action.psupsellmaster-unassign-post-term {
	color: #b32d2e;
}


/* Media Query */


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

	/* KPIs.
	-------------------------------------------------------------- */

	.psupsellmaster-kpi {
		width: calc((100% / 5) - 1%);
	}


	/* Filters
	-------------------------------------------------------------- */

	.psupsellmaster-filters .psupsellmaster-field-container:not(.psupsellmaster-field-container-full-width) {
		width: calc( 50% - 1em );
	}

	.psupsellmaster-filters .psupsellmaster-field-container.psupsellmaster-field-container-half-width {
		width: calc( 25% - 1em );
	}

	.psupsellmaster-filters-actions {
		flex-wrap: nowrap;
	}

	.psupsellmaster-filters #psupsellmaster-btn-apply-filters,
	.psupsellmaster-filters #psupsellmaster-btn-reset-filters {
		flex-direction: row;
		min-height: 30px;
		width: calc( 50% - 0.5em );
	}

}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
