/* General.
-------------------------------------------------------------- */

.psupsellmaster-datatable-wrapper .dt-container {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-bulk-actions {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	gap: 10px;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-field-bulk-actions,
.psupsellmaster-datatable-wrapper .psupsellmaster-btn-apply-bulk-action {
	display: block;
	flex-basis: calc( 50% - 2.5px );
	flex-grow: 1;
	margin: 0;
}

.psupsellmaster-datatable-wrapper .dt-buttons,
.psupsellmaster-datatable-wrapper .dt-search,
.psupsellmaster-datatable-wrapper .dt-length,
.psupsellmaster-datatable-wrapper .dt-info,
.psupsellmaster-datatable-wrapper .dt-paging {
	flex: 1 1 100%;
}

.psupsellmaster-datatable-wrapper .dt-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.psupsellmaster-datatable-wrapper .dt-buttons .dt-button {
	flex-basis: calc( 50% - 5px );
	margin: 0;
}

.psupsellmaster-datatable-wrapper .dt-buttons .psupsellmaster-extra-buttons {
	display: flex;
	flex-basis: 100%;
	flex-grow: 1;
}

.psupsellmaster-datatable-wrapper .dt-buttons .psupsellmaster-extra-buttons .dt-button {
	flex-grow: 1;
}

.psupsellmaster-datatable-wrapper .dt-search {
	align-items: center;
	display: flex;
	flex-basis: 100%;
	gap: 5px;
	margin: 0;
}

.psupsellmaster-datatable-wrapper .dt-search .dt-input {
	margin: 0;
	padding: 0 8px 0 8px;
	width: 300px;
}

.psupsellmaster-datatable-wrapper .dt-length {
	align-items: center;
	display: flex;
	flex-basis: 100%;
	gap: 5px;
	text-align: right;
}

.psupsellmaster-datatable-wrapper .dt-length .dt-input {
	flex-grow: 1;
	margin: 0;
	min-width: 80px;
	padding: 0 24px 0 8px;
}

.psupsellmaster-datatable-wrapper .dt-info {
	text-align: center;
}

.psupsellmaster-datatable-wrapper .dt-paging {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	text-align: right;
}

.psupsellmaster-datatable-wrapper .dataTable {
	flex-basis: 100%;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-datatable-row:nth-child(2n+1) {
	background: #f9f9f9;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-datatable-row:hover {
	background: #f6f6f6;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-datatable-col {
	vertical-align: top;
}


/* Actions.
-------------------------------------------------------------- */

.psupsellmaster-datatable-wrapper .psupsellmaster-row-actions {
	color: #999;
	display: flex;
	left: 0;
	position: relative;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-row-action {
	text-decoration: none;
}


/* Links.
-------------------------------------------------------------- */

.psupsellmaster-datatable-wrapper .psupsellmaster-link {
	text-decoration: none;
}


/* Details.
-------------------------------------------------------------- */

.psupsellmaster-datatable-wrapper .psupsellmaster-row-details {
	margin-top: 5px;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-toggle-details {
	text-decoration: none;
}

.psupsellmaster-datatable-wrapper tr.child ul.dtr-details {
	width: 100%;
}

.psupsellmaster-datatable-wrapper tr.child ul.dtr-details li {
	display: flex;
}

.psupsellmaster-datatable-wrapper tr.child ul.dtr-details li .dtr-title {
	flex-shrink: 1;
	width: 40%;
}


/* List.
-------------------------------------------------------------- */

.psupsellmaster-datatable-wrapper .psupsellmaster-list {
	margin: 0;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-list .psupsellmaster-item .psupsellmaster-item-actions {
	color: #999;
	display: none;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-list .psupsellmaster-item:hover .psupsellmaster-item-actions {
	display: flex;
}

.psupsellmaster-datatable-wrapper .psupsellmaster-list .psupsellmaster-item-action {
	text-decoration: none;
}


/* Media Query */


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

	/* General.
	-------------------------------------------------------------- */

	.psupsellmaster-datatable-wrapper .psupsellmaster-bulk-actions {
		flex-basis: auto;
		flex-wrap: nowrap;
	}

	.psupsellmaster-datatable-wrapper .psupsellmaster-field-bulk-actions,
	.psupsellmaster-datatable-wrapper .psupsellmaster-btn-apply-bulk-action {
		flex-basis: auto;
		flex-grow: 0;
	}

	.psupsellmaster-datatable-wrapper .dt-buttons,
	.psupsellmaster-datatable-wrapper .dt-search,
	.psupsellmaster-datatable-wrapper .dt-length,
	.psupsellmaster-datatable-wrapper .dt-info,
	.psupsellmaster-datatable-wrapper .dt-paging {
		flex: 1 1 50%;
	}

	.psupsellmaster-datatable-wrapper .dt-buttons ~ .dt-search,
	.psupsellmaster-datatable-wrapper .dt-search ~ .dt-length {
		flex: 1 1 1px;
	}
	
	.psupsellmaster-datatable-wrapper .dt-buttons,
	.psupsellmaster-datatable-wrapper .dt-info {
		justify-content: flex-start;
	}

	.psupsellmaster-datatable-wrapper .dt-length,
	.psupsellmaster-datatable-wrapper .dt-paging {
		justify-content: flex-end;
	}

	.psupsellmaster-datatable-wrapper .dt-buttons {
		gap: 5px;
	}

	.psupsellmaster-datatable-wrapper .dt-buttons .dt-button {
		flex-basis: auto;
	}

	.psupsellmaster-datatable-wrapper .dt-buttons .psupsellmaster-extra-buttons {
		flex-basis: auto;
		flex-grow: 0;
	}

	.psupsellmaster-datatable-wrapper .dt-search {
		justify-content: flex-end;
	}

	.psupsellmaster-datatable-wrapper .dt-length {
		flex-grow: 0;
	}

	.psupsellmaster-datatable-wrapper .dt-length .dt-input {
		flex-grow: 0;
	}

	.psupsellmaster-datatable-wrapper .dt-info {
		text-align: left;
	}

	.psupsellmaster-datatable-wrapper .psupsellmaster-datatable-row .psupsellmaster-on-hover {
		display: none;
	}

	.psupsellmaster-datatable-wrapper .psupsellmaster-datatable-row:hover .psupsellmaster-on-hover {
		display: block;
	}


	/* Actions.
	-------------------------------------------------------------- */

	.psupsellmaster-datatable-wrapper .psupsellmaster-datatable-row .psupsellmaster-row-actions {
		left: -9999rem;
	}

	.psupsellmaster-datatable-wrapper .psupsellmaster-datatable-row:hover .psupsellmaster-row-actions {
		left: 0;
	}


	/* Details.
	-------------------------------------------------------------- */

	.psupsellmaster-datatable-wrapper .psupsellmaster-row-details {
		display: none;
	}

}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
