/* General.
-------------------------------------------------------------- */

.psupsellmaster-text-red {
	color: red;
}

.psupsellmaster-text-red:hover {
	color: #960000;
}

.psupsellmaster-products .enable-col .dashicons {
	font-size: 24px;
}

.psupsellmaster-products .enable-col .dashicons.dashicons-yes-alt {
	color: #46b450;
}

.psupsellmaster-products .enable-col .dashicons.dashicons-dismiss {
	color: #dc3232;
}

.psupsellmaster-products .psupsellmaster-product-list,
.psupsellmaster-products .product-preferences-list {
	margin: 0px;
}

.psupsellmaster-products .psupsellmaster-product-list li:last-child,
.psupsellmaster-products .product-preferences-list li:last-child {
	margin-bottom: 0px;
}

.psupsellmaster-products .product-preferences-list li b {
	display: block;
}

.text-center {
	text-align: center;
}

.psupsellmaster-tooltip-upsell {
	display: inline-block;
	position: relative;
	width: 100%;
}

.psupsellmaster-tooltip-upsell .spinner.is-active {
	float: left;
	margin: 0;
}

.psupsellmaster-tooltip-upsell .psupsellmaster-close-scores-details,
.psupsellmaster-tooltip-upsell .psupsellmaster-edit-tooltip-upsell {
	position: absolute;
	right: -8px;
	top: -12px;
}

.psupsellmaster-tooltip-upsell .psupsellmaster-close-scores-details i,
.psupsellmaster-tooltip-upsell .psupsellmaster-edit-tooltip-upsell i {
	font-size: 26px;
}

.psupsellmaster-tooltip-upsell .psupsellmaster-edit-tooltip-upsell {
	right: 20px;
}

.psupsellmaster-tooltip-upsell ul,
.psupsellmaster-tooltip-upsell li {
	list-style: none;
	padding: 0px;
}

.psupsellmaster-tooltip-upsell ul li {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: 0;
	display: inline-block;
	margin: 0px;
	margin-bottom: 0;
	padding: 0px 10px;
	width: calc(100% - 20px);
}

.psupsellmaster-tooltip-upsell ul li:first-child {
	border-top: 1px solid #eee;
}

.psupsellmaster-tooltip-upsell ul li b,
.psupsellmaster-tooltip-upsell ul li a,
.psupsellmaster-tooltip-upsell ul li p,
.psupsellmaster-tooltip-upsell ul li span {
	font-size: 12px;
}

.psupsellmaster-tooltip-upsell ul li b,
.psupsellmaster-tooltip-upsell ul li span {
	display: inline-block;
}

.psupsellmaster-tooltip-upsell ul li b {
	vertical-align: top;
	width: 25%;
}

.psupsellmaster-tooltip-upsell ul li span {
	width: 74%;
}

.chosen-container-multi .chosen-choices li.search-field {
	white-space: unset !important;
}

.search-choice-close {
	border: 0 !important;
}

.psupsellmaster_metabox_column {
	float: left;
	padding: 0.5em;
	min-height: 1em;
}

.psupsellmaster_metabox_row {
	display: flex;
	padding-left: 1em;
}

.psupsellmaster_metabox_row .psupsellmaster_metabox_left {
	width: 15em;
}

.psupsellmaster_metabox_row .psupsellmaster_metabox_right {
	width: calc(100% - 17em);
}

.psupsellmaster_metabox_row .psupsellmaster-checkbox-label {
	margin: 0;
}

/* Clear floats after the columns */

.psupsellmaster_metabox_row:after {
	clear: both;
	content: "";
	display: table;
}

.psupsellmaster_abort_container {
	margin: 0.5em 0;
	text-align: center;
}

#psupsellmaster_btn_abort {
	border-radius: 0.5em;
	color: #f00;
	cursor: pointer;
	font-weight: bold;
	padding: 0.5em 1em;
	text-align: center;
}

.psupsellmaster-widget-field-container {
	margin: 15px 0;
}


/* Modal.
-------------------------------------------------------------- */

.psupsellmaster-modal-header .psupsellmaster-modal-btn-close,
.psupsellmaster-modal-body .psupsellmaster-modal-btn-close {
	background: transparent;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
	line-height: 0;
}

.psupsellmaster-modal-header .psupsellmaster-modal-btn-close svg,
.psupsellmaster-modal-body .psupsellmaster-modal-btn-close svg {
	stroke: #454545;
}

.psupsellmaster-modal-loader {
	text-align: center;
}

.psupsellmaster-modal-loader .psupsellmaster-loader {
	background: url(../../images/admin/spinner.gif) no-repeat;
	background-size: 20px 20px;
	height: 20px;
	margin: auto;
	opacity: 0.7;
	width: 20px;
}


/* Tooltip.
-------------------------------------------------------------- */

.psupsellmaster-help-tip {
	cursor: help;
}

.psupsellmaster-ui-tooltip {
	background: #333 !important;
	border-radius: 3px !important;
	border-width: 1px !important;
	box-shadow: 1px 1px 2px 1px rgba(214,214,214,0.5) !important;
	color: #dedede !important;
	font-size: 12px;
	max-width: 300px !important;
	padding: 7px !important;
	position: absolute;
	text-rendering: optimizeLegibility;
	text-shadow: none !important;
	z-index: 9999 !important;
}


/* Thickbox.
-------------------------------------------------------------- */

body.psupsellmaster-modal-open.psupsellmaster-modal-clear-results #TB_window #TB_ajaxContent {
	height: calc( 100% - 60px ) !important;
	padding: 15px !important;
	width: calc( 100% - 30px ) !important;
}

body.psupsellmaster-modal-open.psupsellmaster-modal-clear-results #TB_window {
	left: 50%;
	margin-right: -50% ;
	top: 50% !important;
	transform: translate(-50%, -50%);
}

body.psupsellmaster-modal-open.psupsellmaster-modal-clear-results #TB_window,
body.psupsellmaster-modal-open.psupsellmaster-modal-clear-results #TB_window #TB_ajaxContent {
	height: auto !important;
	margin: auto !important;
}

body.psupsellmaster-modal-open.psupsellmaster-modal-clear-results #TB_window #TB_ajaxContent .wrap,
body.psupsellmaster-modal-open.psupsellmaster-modal-clear-results #TB_window #TB_ajaxContent p {
	margin: 0;
	padding: 0;
}

body.psupsellmaster-modal-open.psupsellmaster-modal-clear-results #TB_window .psupsellmaster-modal-footer {
	margin-top: 15px;
}


/* Range Slider.
-------------------------------------------------------------- */

.psupsellmaster-range-slider {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 5px;
	cursor: pointer;
	height: 30px;
	margin: auto;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}

.psupsellmaster-range-slider:focus {
	border-color: #2271b1;
	box-shadow: 0 0 0 1px #2271b1;
	height: 28px;
	outline: 2px solid #2271b1;
}

.psupsellmaster-range-slider::-ms-track {
	background: #ddd;
	color: transparent;
	height: 30px;
	border: none;
}

.psupsellmaster-range-slider::-moz-range-track {
	background: #ddd;
	height: 30px;
}

.psupsellmaster-range-slider::-webkit-slider-runnable-track {
	background: #ddd;
}

.psupsellmaster-range-slider::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border: 2px solid #999;
	border-radius: 5px;
	box-shadow: calc( -100vw - 2px ) 0 0 calc( 100vw - 2px ) #4d86eb;
	-webkit-box-shadow: calc( -100vw - 2px ) 0 0 calc( 100vw - 2px ) #4d86eb;
	height: 30px;
	width: 20px;
}

.psupsellmaster-range-slider::-moz-range-thumb {
	background: #fff;
	border: 2px solid #999;
	border-radius: 5px;
	box-shadow: calc( -100vw - 2px ) 0 0 calc( 100vw - 2px ) #4d86eb;
	box-sizing: border-box;
	height: 30px;
	width: 20px;
}

.psupsellmaster-range-slider::-ms-fill-lower {
	background: #4d86eb;
}

.psupsellmaster-range-slider::-ms-thumb {
	background: #fff;
	border: 2px solid #999;
	border-radius: 5px;
	box-sizing: border-box;
	height: 30px;
	width: 20px;
}

.psupsellmaster-range-slider::-ms-ticks-after {
	display: none;
}

.psupsellmaster-range-slider::-ms-ticks-before {
	display: none;
}

.psupsellmaster-range-slider::-ms-tooltip {
	display: none;
}


/* Spinner.
-------------------------------------------------------------- */

.psupsellmaster-backdrop-spinner {
	align-items: center;
	background-color: rgb( 255 255 255 / 80% );
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}


/* License.
-------------------------------------------------------------- */

.psupsellmaster-license-page .psupsellmaster-license-form {
	background-color: #fff;
	border: 1px solid #ccc;
	width: 100%;
}

.psupsellmaster-license-page .psupsellmaster-license-table {
	margin: 0;
}

.psupsellmaster-license-page .psupsellmaster-license-table tbody tr:first-child {
	border-bottom: 1px solid #ddd;
	font-weight: 700;
}

.psupsellmaster-license-page .psupsellmaster-license-table tbody td {
	padding: 15px;
}

.psupsellmaster-license-page .psupsellmaster-license-status {
	display: block;
	margin: 10px 0;
	padding: 15px;
}

.psupsellmaster-license-page .psupsellmaster-license-paragraph {
	margin: 0;
}

.psupsellmaster-license-page .psupsellmaster-license-status-valid {
	background-color: #d4edda;
	border: 1px solid #c3e6cb;
	color: #155724;
}

.psupsellmaster-license-page .psupsellmaster-license-status-invalid {
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	color: #721c24;
}

.psupsellmaster-license-page .psupsellmaster-license-key {
	margin: 0;
	width: 100%;
}

.psupsellmaster-license-page .psupsellmaster-license-button {
	margin-top: 15px;
}


/* Media Query.
-------------------------------------------------------------- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/* Thickbox */

	body.psupsellmaster-modal-open.psupsellmaster-modal-clear-results #TB_window,
	body.psupsellmaster-modal-open.psupsellmaster-modal-clear-results #TB_window #TB_ajaxContent {
		width: auto !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.psupsellmaster-license-page .psupsellmaster-license-form {
		width: 60%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.psupsellmaster-license-page .psupsellmaster-license-form {
		width: 40%;
	}
}
