/* General.
-------------------------------------------------------------- */

.psupsellmaster-paragraph {
	margin: 0;
}

.psupsellmaster-text-green {
	color: green;
}


/* Tabs.
-------------------------------------------------------------- */

#psupsellmaster-settings-tabs .psupsellmaster-settings-tab-url {
	background-color: #10c026;
	border-color: #009913;
}

#psupsellmaster-settings-tabs .psupsellmaster-settings-tab-url .psupsellmaster-settings-tab-link {
	color: #fff;
}

#psupsellmaster-settings-tabs .ui-widget-content a {
	color: #2271b1
}


/* Lists.
-------------------------------------------------------------- */

.psupsellmaster-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 0;
}

.psupsellmaster-list > .psupsellmaster-item {
	margin: 0;
}


/* Action: Clear Results.
-------------------------------------------------------------- */

#psupsellmaster-settings-tabs .ui-widget-content .psupsellmaster-btn-clear-results {
	color: #d63638;
}


/* Promotions.
-------------------------------------------------------------- */

#psupsellmaster-settings-tabs .psupsellmaster-other-plugins {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

#psupsellmaster-settings-tabs .psupsellmaster-other-plugins img {
	max-width: 100%;
	height: auto;
}

#psupsellmaster-settings-tabs .psupsellmaster-other-plugin {
	width: 31.5%;
	background: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	margin-bottom: 24px;
	margin-right: 1.83%;
}

#psupsellmaster-settings-tabs .psupsellmaster-other-plugin-title {
	margin-bottom: 15px;
}

#psupsellmaster-settings-tabs .psupsellmaster-other-plugin-title a {
	padding: 12px 10px 0;
	color: #000;
	font-weight: 500;
	text-decoration: none;
	background: #fefefe;
	font-size: 18px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#psupsellmaster-settings-tabs .psupsellmaster-other-plugin-links {
	display: flex;
	align-items: center;
	padding: 0 10px 10px;
}

#psupsellmaster-settings-tabs .psupsellmaster-other-plugin-links a {
	text-decoration: none;
}

#psupsellmaster-settings-tabs .psupsellmaster-other-plugin-links div:not(:last-child):after {
	content: ' | ';
	padding: 0 5px;
}

#psupsellmaster-settings-tabs .psupsellmaster-other-plugin-desc {
	padding: 14px;
	line-height: 1.6;
}

#psupsellmaster-settings-tabs .psupsellmaster-other-plugin-image {
	max-height: 320px;
	overflow: hidden;
	height: 320px;
}


/* Campaigns.
-------------------------------------------------------------- */

.psupsellmaster-campaigns .wp-editor-container .mce-edit-area > iframe {
	height: 80px;
}

.psupsellmaster-campaigns .wp-editor-tabs {
	float: left;
}

.psupsellmaster-campaigns .wp-switch-editor {
	margin: 5px 5px 0 0;
}


/* Newsletter.
-------------------------------------------------------------- */

#psupsellmaster-newsletter {
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	padding: 10px;
	position: relative;
}

#psupsellmaster-newsletter .psupsellmaster-newsletter-heading,
#psupsellmaster-newsletter .psupsellmaster-newsletter-paragraph {
	margin: 0;
}

#psupsellmaster-newsletter .psupsellmaster-newsletter-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#psupsellmaster-newsletter .psupsellmaster-newsletter-form-row {
	display: flex;
	gap: 5px;
}

#psupsellmaster-newsletter .psupsellmaster-newsletter-field {
	max-width: 350px;
	width: 100%;
}

#psupsellmaster-newsletter .psupsellmaster-newsletter-ajax-error {
	color: red;
	margin-top: 5px;
}

#psupsellmaster-newsletter .psupsellmaster-newsletter-text-green {
	color: green;
}
